[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
django-debug-toolbar = "*"
djangorestframework-yaml = "*"
djangorestframework-xml = "*"
djangorestframework-csv = "*"
django-filter = "*"
djoser = "*"
djangorestframework-jwt = "*"
pymysql = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
